$body-font-family = "Quicksand", Verdana , Helvetica , sans-serif
@require '~vuetify/src/stylus/main.styl'

$body-font-weight =700

$alert-font-size = 28px

// For a-la-carte
// @import '~vuetify/src/stylus/app'